<h2>
<%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "コミュニティを検索する" %>
  <%= form.submit "検索"%>
<% end %>
</h2>
<h2>
<% @search.each do |room| %>
<%= link_to room.name, room_path(room.id) %><br>
<%end%>
<%="検索結果は#{@search.length}件です。"%>
</h2>